* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

.app {
  width: 100vw;
  min-height: 100vh;
} 

a:link {
  color: #0094AD;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: rgba(103, 81, 150, 1);
  background-color: transparent;
  text-decoration: underline;
}